<!-- Gráficos e Saldo por Cartão -->
<div class="row">
  <div class="col-lg-6 mb-1">
    <%= render "home/despesas_por_categoria" %>
    <%= render "home/saldo_por_cartao" %>
  </div>

  <div class="col-lg-6 mb-1">
    <%= render "home/listas_recentes" %>
  </div>
</div>
