<!-- Gráfico de Barras Horizontal -->
<div class="card shadow">
  <div class="card-body" style="height: 700px;">
    <h5 class="card-title text-center">Despesas por Categoria (<%= I18n.l(Date.current, format: "%B") %>)</h5>
    <canvas id="despesasChart"></canvas>
  </div>
</div>
