<!-- Listas Recentes -->
<div class="colum">
  <div class="col-lg-12 mb-2 mt-2">
    <%= render "home/despesas_recentes" %>
  </div>
  <div class="col-lg-12 mb-3">
    <%= render "home/receitas_recentes" %>
  </div>
</div>
