<%= form_with model: category, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :name, t("categories.form.name") %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.submit t("categories.form.submit"), class: "btn btn-primary" %>
<% end %>
