<turbo-frame id="modal">
  <div class="modal-header">
    <h5 class="modal-title">
      <%= action_name == "new" ? "Nova Categoria" : "Editar Categoria" %>
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
  </div>

  <div class="modal-body p-3">
    <%= render "form", category: @category %>
  </div>
</turbo-frame>